.container{
    width: 1200px;
    height: 100vh;

}
.row{
    width: 100%;
    float: left;
    background:rgb(193, 229, 243);
}
.col-md-6{
    width: 570px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}